name: example
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0-alpha-1+3

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  in_app_purchase: ^3.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
